{{#each games as |game|}}

  <li>{{game.date}} <button> edit </button> <button> trash </button></li>

{{/each}}


<!-- <li>The quick brown fox jumps over the lazy dog <button> edit </button> <button> trash </button></li> -->
