$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Teko|Open+Sans');

// app colors declared as varaibles
$tundora: #444;
$meteorite: #3E2685;
$dovegray: #656565;
$tuliptree: #F2AB3A;
$treepoppy: #f7971e;
$hilight: #ffd200;
// rgba(101,101,101,.5)

// font  pairings
// font-family: 'Teko', sans-serif;
// font-family: 'Open Sans', sans-serif;

#adminPanel {
  background-color: #fff;
  box-shadow: -1px 0px 6px 2px rgba(101,101,101,.5);
  color: $dovegray;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  margin: 0px;
  height: 940px;
  overflow-y: scroll;
  padding: 20px;
  width: 35%;

  a {
    float: right;
    color: $dovegray;

    &:hover {
      color: $tuliptree;
    }
  }

  button {
    color: #fff;
    background: $meteorite;
    border: none;
    border-radius: 4px;
    font-family: 'Teko', sans-serif;
    font-size: 1.6rem;
    margin: 10px;
    padding: 8px 12px;

    &:hover {
      background: $tuliptree;
      border: 1px solid $treepoppy;
    }
  }

  form {
    margin: 40px 0px;
  }

  h1 {
    font-size: 72px;
    color: $meteorite;
  }

  input {
    border: 1px solid rgba(101,101,101,.5);
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(101,101,101,.5);
    margin: 10px;
    padding: 4px;
  }
}

body {
  background: #ffd200;
  background: linear-gradient(135deg,#ffd200 0%,#F2AB3A 80%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Teko', sans-serif;
}

input {
  &:focus {
    border:1px solid $hilight;
    border-radius: 2px;
    box-shadow: 2px 2px 10px $tuliptree;
    outline: 1px solid $tuliptree;
  }
}
main {
  float: left;
  height: 940px;
  margin: 0px;
  // max-height: 1000px;
  overflow-y: scroll;
  padding: 40px;
  width: 65%;

  button {
    color: $meteorite;
    background: #fff;
    border: none;border-radius: 2px;
    box-shadow: 2px 2px 6px 0px rgba(101,101,101,.4);
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    line-height: 14px;
    margin: 6px 2px;
    padding: 8px 8px;

    &:hover{
      background: $meteorite;
      color: #fff;
      box-shadow: 2px 2px 10px $dovegray;
    }

    &:focus {
      border: none;
      border-radius: 2px;
      outline: none;
    }
  }

}

#gamesDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .card {
    background: rgba(255, 255, 255, .7);
    border-radius: 6px;
    box-shadow: 2px 2px 6px 0px rgba(101,101,101,.5);
    color: $meteorite;
    font-size: 28px;
    margin: 20px;
    padding: 12px 60px;
    // width: 30rem;
  }

  .card a {
    margin: 0px 10px;
  }
}

.no-select {
    user-select: none;
}

.wrapper {
  margin: 0 auto;
  width: 50%;
}

.updateGameModal button {
  background: $meteorite;

  &:hover {
    color: #fff;
  }
}
