$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Teko|Open+Sans');

$tundora: #444;
$meteorite: #3E2685;
$dovegray: #656565;
$tuliptree: #F2AB3A;
$treepoppy: #f7971e;
// rgba(101,101,101,.5)
// font-family: 'Teko', sans-serif;
// font-family: 'Open Sans', sans-serif;

#adminPanel {
  background-color: #fff;
  box-shadow: -1px 0px 6px 2px rgba(101,101,101,.5);
  color: $dovegray;
  float: right;
  height: 100%;
  margin: 0px;
  min-height: 1000px;
  padding: 20px;
  width: 35%;

  button {
    margin: 10px;
  }

  form {
    margin: 40px 0px;
  }

  h1 {
    font-size: 72px;
    color: $meteorite;
  }

  input {
    border: 1px solid rgba(101,101,101,.5);
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(101,101,101,.5);
    margin: 10px;
    padding: 4px;
  }
}

body {
  background: #ffd200;
  background: linear-gradient(135deg,#ffd200 0%,#F2AB3A 80%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Teko', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 50%;
}
